.label-class {
  font-weight: 500;
  font-size: 30px;
  display: flow;
  margin-top: 20px;
  padding: 8px
}

.button-class {
  background: blue;
  width: 32%;
  height: 55px;
  border-radius: 31px;
  font-weight: 500;
  font-size: 26px;
}


.entire-from {
  text-align: center;
}

.input-class {
  width: 325px;
  height: 50px;
  border-radius: 39px;
  margin-bottom: 24px;
  font-size: 25px;
  padding: 4px;

}


.input-class {
  width: 325px;
  height: 38px;
  border-radius: 39px;
  margin-bottom: 24px;
  font-size: 25px;
  padding: 4px;
  margin-left: 27px;
  border-width: 2px;
}

.button-class {
  background: blue;
  width: 12%;
  height: 57px;
  border-radius: 31px;
  font-weight: 500;
  font-size: 26px;
}